/* hotel-info */

.hotel-info {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 5%; */
  background-color: #fff;
  padding-left: 1%;
  padding-bottom: 5%;  
}

.hotel-info-container {
  display: flex;
  flex-direction: column;
}

.hotel-info-img-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hotel-info-img-pv img {
  border-radius: 8px;
}

.hotel-info-img-pv2 {
  margin-left: 10px;
}

.hotel-info-img-pv2 img {
  border-radius: 8px;
}

.hotel-info-img-more {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

/* hotel-info-header */

.hotel-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.hotel-info-name {
  font-size: 28px;
  font-weight: 500;
  color: rgba(34, 31, 60, 1);
}

.hotel-info-place {
  color: rgba(183, 188, 243, 1);
  font-size: 18px;
  font-weight: 400;
}

.hotel-info-price-btn {
  width: 318px;
  height: 52px;
  border: 2px solid rgba(45, 61, 223, 1);
  border-radius: 5px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  color: rgba(45, 61, 223, 1);
  cursor: pointer;
}

.hotel-info-price-btn:hover {
  color: #fff;
  background-color: rgba(45, 61, 223, 1);
  border: none;
  transition: 0.5s;
}

/* hotel-info-booking */

.hotel-info-booking {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-info-booking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 488px;
  height: 145px;
  border: 2px solid rgba(209, 209, 209, 1);
  border-radius: 5px;
}

.hotel-info-booking-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.hotel-info-booking-img img {
  max-width: 600px;
}

.hotel-info-booking-title {
  font-size: 14px;
  font-weight: 500;
  color: rgba(34, 31, 60, 1);
}

.hotel-info-booking-price {
  font-size: 25px;
  font-weight: 700;
  color: rgba(45, 61, 223, 1);
}

.hotel-info-booking-btn {
  border: none;
  width: 53px;
  height: 145px;
  background-color: #2d3ddf;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  writing-mode: vertical-rl;
  cursor: pointer;
}

/* hotel-info-review */

.hotel-info-review {
  margin-top: 20px;
  margin-right: 5%;
}

.hotel-info-review-img {
  width: 480px;
  height: 400px;
  margin-right: 100%;
}

.hotel-info-review-dialog {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.hotel-info-review-text {
  color: rgba(45, 61, 223, 1);
  font-size: 20px;
  font-weight: 500;
}
