/* Search Filter */

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 700px;
  height: 56px;
  border: none;
  background-color: #ebedff;
  padding-left: 32px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
}

/* Booking Form */

.bookingform {
  display: flex;
  flex-direction: column;
}

.bookingform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingform-header {
  font-size: 38px;
  font-weight: 500;
  color: #2d3ddf;
  margin-bottom: 20px;
}

.bookingform-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.bookingform-icon {
  text-align: center;
  cursor: pointer;
  padding: 10px 79px 10px 79px;
}

.bookingform-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.bookingform-group,
.bookingform-date {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 692px;
}

.bookingform-group input,
.bookingform-date input {
  border: 1px solid #bec3ff;
  width: 100%;
  height: 62px;
  font-size: 18px;
  background-color: #ebedff;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 5px;
}

.bookingform-btnwrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookingform-search-btn {
  width: 256px;
  height: 68px;
  padding: 10px;
  background-color: #2d3ddf;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-size: 22px;
}

.bookingform-search-btn:hover {
  background-color: #fff;
  color: #2d3ddf;
  border: 2px solid #2d3ddf;
  transition: 0.5s;
}
